In [1]:
#Import libraries

import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#Import data
data = pd.read_csv('/content/drive/MyDrive/Internship Summer 2023/Data Analyst Intern - Silicon Labs/HomeAssignment.csv')
data.head().style

In [4]:
data.shape

(278, 18)

In [5]:
#We have 278 records, 18 columns (variables)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Segment            278 non-null    object
 1   Market             278 non-null    object
 2   Region             278 non-null    object
 3   Customer           278 non-null    object
 4   Product Family     278 non-null    object
 5   Technology         278 non-null    object
 6   FY2022-Units (Ku)  278 non-null    float64
 7   FY2023-Units (Ku)  278 non-null    float64
 8   FY2024-Units (Ku)  278 non-null    float64
 9   FY2025-Units (Ku)  278 non-null    float64
 10  FY2022-COGS-K$     278 non-null    float64
 11  FY2023-COGS-K$     278 non-null    float64
 12  FY2024-COGS-K$     278 non-null    float64
 13  FY2025-COGS-K$     278 non-null    float64
 14  FY2022-ASP-$       278 non-null    float64
 15  FY2023-ASP-$       278 non-null    float64
 16  FY2024-ASP-$       278 non-null    float64
 17  FY2025-ASP-$       278 non-null    float64
dtypes: float64(12), object(6)
memory usage: 39.2+ KB

In [7]:
#there seems to be no null values.

In [8]:
#Convert all float columns (6-9) into the units instead of k-units

#define replacer and replacee dictionaries for Units sold
replacee = [6,7,8,9]
replacer = ['FY2022-units', 'FY2023-units','FY2024-units','FY2025-units']

#Add columns in replacer by multiplying corresponding replacee with 1000, then round to 0 decimal since there cannot be fractional unit
for i, j in zip(replacee, replacer):
  data[j] = round(data.iloc[:, i] * 1000,0)

#show dataframe
data.head().style

In [9]:
#define replacer and replacee dictionaries for COGS
replacee = [10,11,12,13]
replacer = ['FY2022-COGS', 'FY2023-COGS', 'FY2024-COGS','FY2025-COGS']

#Add columns in replacer by multiplying corresponding replacee in
for i, j in zip(replacee, replacer):
  data[j] = data.iloc[:, i] * 1000

#show dataframe
data.head().style

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Segment            278 non-null    object
 1   Market             278 non-null    object
 2   Region             278 non-null    object
 3   Customer           278 non-null    object
 4   Product Family     278 non-null    object
 5   Technology         278 non-null    object
 6   FY2022-Units (Ku)  278 non-null    float64
 7   FY2023-Units (Ku)  278 non-null    float64
 8   FY2024-Units (Ku)  278 non-null    float64
 9   FY2025-Units (Ku)  278 non-null    float64
 10  FY2022-COGS-K$     278 non-null    float64
 11  FY2023-COGS-K$     278 non-null    float64
 12  FY2024-COGS-K$     278 non-null    float64
 13  FY2025-COGS-K$     278 non-null    float64
 14  FY2022-ASP-$       278 non-null    float64
 15  FY2023-ASP-$       278 non-null    float64
 16  FY2024-ASP-$       278 non-null    float64
 17  FY2025-ASP-$       278 non-null    float64
 18  FY2022-units       278 non-null    float64
 19  FY2023-units       278 non-null    float64
 20  FY2024-units       278 non-null    float64
 21  FY2025-units       278 non-null    float64
 22  FY2022-COGS        278 non-null    float64
 23  FY2023-COGS        278 non-null    float64
 24  FY2024-COGS        278 non-null    float64
 25  FY2025-COGS        278 non-null    float64
dtypes: float64(20), object(6)
memory usage: 56.6+ KB

In [11]:
#Create new columns for Revenue and profits
rev = ['Rev2022-$','Rev2023-$', 'Rev2024-$', 'Rev2025-$']
units = ['FY2022-units','FY2023-units','FY2024-units','FY2025-units']
asp = ['FY2022-ASP-$', 'FY2023-ASP-$','FY2024-ASP-$','FY2025-ASP-$']

#Add columns Revenue by multiplying units x asp
for a, b,c in zip(rev, units, asp):
  data[a] = data.loc[:, b] * data.loc[:,c]

#show dataframe
data.head().style

In [12]:
#Create new columns for profit and margin
profit = ['2022profit-$','2023profit-$','2024profit-$','2025profit-$']
margins = ['2022margin-%','2023margin-%','2024margin-%','2025margin-%']
cogs = ['FY2022-COGS', 'FY2023-COGS','FY2024-COGS','FY2025-COGS']

#Add columns Profit=revenue-cogs
for a,b,c in zip(profit, rev, cogs):
  data[a] = data.loc[:, b] - data.loc[:,c]

#Add columns margin(%)=profit/revenue*100
for a, b,c in zip(margins, profit, rev):
  data[a] = round(data.loc[:, b] / data.loc[:,c] * 100,2)

#show dataframe
data.head().style

In [13]:
#Calculate Compound Annual Growth Rate for Revenue from 2020 - 2025
data['CAGR_rev'] = (data['Rev2025-$']/data['Rev2022-$'])**(1/3)-1

#show dataframe
data.head().style

In [14]:
#Create new columns for total_rev, total_profit, total_cogs, total_margin of all years
data['total_rev'] = data['Rev2022-$']+data['Rev2023-$']+data['Rev2024-$']+data['Rev2025-$']
data['total_cogs'] = data['FY2022-COGS']+data['FY2023-COGS']+data['FY2024-COGS']+data['FY2025-COGS']
data['total_profit'] = data['total_rev']-data['total_cogs']
data['total_margin_%'] = data['total_profit']/data['total_rev']*100

#show dataframe
data.head().style

In [15]:
#On a company level, we calculate Total Revenue, COGS, Profit, and Margin each year as well as CAGR for rev

rev2022 = data['Rev2022-$'].sum()
rev2023 = data['Rev2023-$'].sum()
rev2024 = data['Rev2024-$'].sum()
rev2025 = data['Rev2025-$'].sum()
total_rev = rev2022 + rev2023 + rev2024 + rev2025

cogs2022 = data['FY2022-COGS'].sum()
cogs2023 = data['FY2023-COGS'].sum()
cogs2024 = data['FY2024-COGS'].sum()
cogs2025 = data['FY2025-COGS'].sum()
total_cogs = cogs2022 + cogs2023 + cogs2024 + cogs2025

profit2022 = rev2022 - cogs2022
profit2023 = rev2023 - cogs2023
profit2024 = rev2024 - cogs2024
profit2025 = rev2025 - cogs2025
total_profit = profit2022+profit2023+profit2024+profit2025

margin2022 = profit2022/rev2022*100
margin2023 = profit2023/rev2023*100
margin2024 = profit2024/rev2024*100
margin2025 = profit2025/rev2025*100
overall_margin = total_profit/total_rev*100

CAGR_rev = (rev2025/rev2022)**(1/4)-1

print("Revenue of 2022:",round(rev2022/1000000,2),"M$")
print("Revenue of 2023:",round(rev2023/1000000,2),"M$")
print("Revenue of 2024:",round(rev2024/1000000,2),"M$")
print("Revenue of 2025:",round(rev2025/1000000,2),"M$")
print("Total Revenue:",round(total_rev/1000000,2),"M$")

print("COGS of 2022:",round(cogs2022/1000000,2),"M$")
print("COGS of 2023:",round(cogs2023/1000000,2),"M$")
print("COGS of 2024:",round(cogs2024/1000000,2),"M$")
print("COGS of 2025:",round(cogs2025/1000000,2),"M$")
print("Total COGS:",round(total_cogs/1000000,2),"M$")

print("Profit of 2022:",round(profit2022/1000000,2),"M$")
print("Profit of 2023:",round(profit2023/1000000,2),"M$")
print("Profit of 2024:",round(profit2024/1000000,2),"M$")
print("Profit of 2025:",round(profit2025/1000000,2),"M$")
print("Total Profit:",round(total_profit/1000000,2),"M$")

print("Margin of 2022:",round(margin2022,2),"%")
print("Margin of 2023:",round(margin2023,2),"%")
print("Margin of 2024:",round(margin2024,2),"%")
print("Margin of 2025:",round(margin2025,2),"%")
print("Overall Margin:",round(overall_margin,2),"%")

print("Compound Annual Growth Rate of Revenue:",round(CAGR_rev*100,2),"%")

Revenue of 2022: 48.13 M$
Revenue of 2023: 66.92 M$
Revenue of 2024: 98.09 M$
Revenue of 2025: 148.76 M$
Total Revenue: 361.9 M$
COGS of 2022: 14.6 M$
COGS of 2023: 19.47 M$
COGS of 2024: 27.28 M$
COGS of 2025: 38.61 M$
Total COGS: 99.96 M$
Profit of 2022: 33.52 M$
Profit of 2023: 47.45 M$
Profit of 2024: 70.81 M$
Profit of 2025: 110.15 M$
Total Profit: 261.94 M$
Margin of 2022: 69.66 %
Margin of 2023: 70.91 %
Margin of 2024: 72.19 %
Margin of 2025: 74.04 %
Overall Margin: 72.38 %
Compound Annual Growth Rate of Revenue: 32.59 %

In [16]:
data.to_excel('/content/drive/MyDrive/Internship Summer 2023/Data Analyst Intern - Silicon Labs/exported1.xlsx', encoding='utf-8')

/usr/local/lib/python3.10/dist-packages/pandas/util/_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)